.notificationPanel{
    padding: 10px;
    height:80%;
}
.noNotificationsAvailable{
    background-color: white;
}
.notificationsAvailable{
    background-color: #f7f6f4;
}
.panelHeader{
    display: flex;
    justify-content: end;
    padding: 0px 0px 10px 0px;
}
.noNotifications{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
}
.notificationLink{
    color: #0e7bd4;
}
.message{
    font-size: 18px;
    margin-bottom: 5px;
}
.errorImage{
    width: 75%;
}
