.notificationPreferences{
    font-family:SegoeUI-SemiBold-final,Segoe UI Semibold,SegoeUI-Regular-final,Segoe UI,"Segoe UI Web (West European)",Segoe,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Tahoma,Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 20px;
}
.marginBottom{
    margin-bottom: 20px;
}
.option{
    color:#7d8491 ;
    font-size: 18px;
}
.myContent{
    color: #121c4f;
    font-size: 18px;
}
.footer{
    height: 50px;
    display: flex;
    justify-content: end;
    background-color: #f3f3f3;
    align-items: center;
}
.footerButton{
    width: 80px;
    margin-right: 10px;
    height: 30px;
    border: 1px solid #989898;
}
.save{
    color: white;
    background-color: #121c4f;
}
.cancel{
    color: #989898;
    background-color: white;
}
