p{
  margin:0%
}
.notificationPane{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}
.panelStyle{
  content: {
    padding: 0;
    margin: 0;
  }
}
.notifer{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 600;
}