.preferences{
    padding-bottom: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:180px;
}
.title{
    color:#737985 ;
    font-size: 14px;
    padding-bottom: 15px;
}
.preferenceTitle{
    display: flex;
}
.noAccess{
    margin-left: 15px;
}
.notHaveAccess{
    color: #c8c6c4;
}
.checkbox {
    width: 20px;
    height: 20px;
    position: relative;
    appearance: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .checkbox::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 25%;
    width: 8px;
    height: 4px;
    border: 2px solid white;
    border-top: none;
    border-right: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: rotate(-45deg);
  }
  
  .checkbox:checked::before {
    opacity: 1;
  }
  .checkbox:checked{
    background-color: #ee615a;
    border: 0px;
  }
  .checkbox:disabled{
    background-color: #c8c6c4;
    border: 0px;
    cursor: not-allowed;
  }
  .labelOption{
    margin-right: 5px;
    font-size: 16px;
  }
  .optionContainer{
    display: flex;
    align-items: center;
  }
